.git
.vs
.config
Assets
!Assets/Scripts/
Assets/Scripts/*
!Assets/Scripts/ThirdParty/
Assets/Scripts/ThirdParty/*
!Assets/Scripts/ThirdParty/kcp2k/
!Assets/Scripts/ThirdParty/kcp2k/**
Library
Logs
Temp
UserSettings
obj
bin
**/obj
**/bin
!Backend/SocialBackend/publish/
!Backend/SocialBackend/publish/**
!Backend/OnlineDungeonServer/publish/
!Backend/OnlineDungeonServer/publish/**
*.log
*.lscache
chapter6_charts
outputs
__pycache__
